/*Estilo general*/

@font-face {
    font-family: general;
    src: url("../fonts/Merchant_Copy.ttf");
}

@font-face {
    font-family: doublesize;
    src: url("../fonts/Merchant_Copy_Doublesize.ttf");
}

@font-face {
    font-family: din;
    src: url("../fonts/DIN.ttf");
    font-weight: thin;
}

:root {
    --rojo: rgb(255 50 47);
}

html {
    scroll-behavior: smooth;
    font-size: 17px;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p,
blockquote {
    font-family: din;
    font-size: 0.85rem;
}

p a {
    font-weight: bold;
}

p a:hover {
    background-color: black;
    color: white;
}

blockquote {
    padding: 10px 40px 0;
    position: relative;
}

blockquote::before {
    content: "\201C";
    font-family: general;
    position: absolute;
    font-size: 2.3rem;
    top: 15px;
    left: 16px;
}

/*Wrapper*/

#wrapper {
    font-family: general;
    background-color: white;
    width: 860px;
    margin: auto;
    transition: 0.4s;
}

/*Secciones*/

section {
    border-bottom: 1px solid black;
}

/*Barra de navegación*/

#navbar {
    height: 72px;
    width: 860px;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1;
    transition: 0.4s;
}

nav a, .sidenav a, #menu, #close {
    float: left;
    font-family: general;
    font-size: 2rem;
    height: 0;
    padding: 26px 24px 46px;
}

.navbtn, #home, #menu, #close {
    color: black;
    background-color: white;
}

.navbtn:hover, #home:hover, #menu:hover, #close:hover {
    color: white;
    background-color: black;
}

.subpage {
    color: var(--rojo);
}

.subpage:hover {
    background-color: var(--rojo);
    color: white;
}

#menu, #close {
    cursor: pointer;
}

#menu {
    display: none;
}

#navbar-block {
    height: 72px;
    width: 100%;
}

/* The side navigation menu */
.sidenav {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.4s;
    background-color: white;
    border-bottom: black solid 1px;
}

/*Hero section*/

#hero {
    height: 830px;
    width: 100%;
    position: relative;
    background-image: url("../images/exeter-cover-hd.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#exeter1 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#exeter2 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 9%;
    top: 22%;
    transform: translate(-50%, -50%);
}

#exeter3 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 32%;
    transform: translate(-50%, -50%);
}

#exeter4 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 73%;
    transform: translate(-50%, -50%);
}

#exeter5 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 80%;
    top: 79%;
    transform: translate(-50%, -50%);
}

#exeter6 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 63%;
    top: 16%;
    transform: translate(-50%, -50%);
}


/*Resto de secciones*/

.section {
    padding: 30px 0;
}

.titulo {
    font-size: 2rem;
    padding-bottom: 30px;
}

/*Sección Album*/

audio {
    width: 100%;
    padding-bottom: 20px;
    height: 40px;
}

audio::-webkit-media-controls-panel {
    background-color: white;
    height: 40px;
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
}

audio::-webkit-media-controls-play-button {
    background-color: white;
}

audio::-webkit-media-controls-volume-slider {
    background-color: white;
    padding-left: 20px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: black
}

audio::-webkit-media-controls-current-time-display {
    color: var(--rojo);
}

#grid-audio {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

/*Gallery------------------------------------*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
}

/*Slides*/
.slide {
    width: 100%;
    position: relative;
    display: inline-block;
}

.slide::after {
    padding-top: 56.2499999993%;
    display: block;
    content: '';
}

.youtube {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.grid-gallery {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

#gallery img {
    float: left;
    width: 100%;
    height: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1.9%;
    font-size: 2rem;
    color: white;
    background-color: black;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover */
.prev:hover,
.next:hover {
    color: black;
    background-color: white;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    margin: 0 2px;
    font-size: 2rem;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.active {
    color: var(--rojo);
}

.dot:hover {
    background-color: black;
    color: white;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.6
    }

    to {
        opacity: 1
    }
}

/*--------------------------------------*/



/*--------------------------------------*/

/*Media Queries*/

@media only screen and (max-width: 1345px) {
    #exeter2 {
        padding-left: 10px;
        left: 16%;
    }

    #exeter3 {
        padding-right: 10px;
        left: 88%;
    }
}

@media only screen and (max-width: 1096px) {
    #exeter2 {
        left: 26%;
        top: 17%;
        padding-left: 95px;
    }

    #exeter3 {
        opacity: 0;
        padding: 0;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }

    #exeter4 {
        left: 24%;
        top: 73%;
        padding-left: 60px;
    }

    #exeter5 {
        left: 73%;
        top: 79%;
        padding-right: 108px;
    }

    #exeter6 {
        left: 77.5%;
        top: 26%;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 900px) {
    #wrapper {
        width: 100%;
        height: 100vh;
    }

    #navbar {
        width: 100%;
    }

    nav a, .sidenav a, #menu {
        font-size: 1.7rem;
        padding-left: 13px;
        padding-right: 13px;
    }

    #close {
        padding-left: 17px;
        padding-right: 17px;
    }

    #menu, #close {
        display: block;
        float: right;
    }

    nav a {
        display: none;
    }

    #home {
        display: block;
    }

    #hero {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-size: contain;
    }

    #exeter1 {
        opacity: 1;
    }

    #exeter2,
    #exeter3,
    #exeter4,
    #exeter5,
    #exeter6 {
        display: none;
    }

    .section {
        padding: 30px 10px;
    }

    #grid-audio {
        grid-template-columns: 1fr;
        gap: 4px;
    }

}