/*Estilo general*/

@font-face {
    font-family: general;
    src: url("../fonts/Merchant_Copy.ttf");
}

@font-face {
    font-family: doublesize;
    src: url("../fonts/Merchant_Copy_Doublesize.ttf");
}

@font-face {
    font-family: din;
    src: url("../fonts/DIN.ttf");
    font-weight: thin;
}

:root {
    --rojo: rgb(255 50 47);
}

html {
    scroll-behavior: smooth;
    font-size: 17px;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p, blockquote {
    font-family: din;
    font-size: 0.85rem;
}

p a {
    font-weight: bold;
}

p a:hover {
    background-color: black;
    color: white;
}

blockquote {
    padding: 10px 40px 0;
    position: relative;
}

blockquote::before {
    content: "\201C";
    font-family: general;
    position: absolute;
    font-size: 2.3rem;
    top: 15px;
    left: 16px;
}

/*Para esconder cosas*/
.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

/*Para que no se pueda seleccionar el texto*/
.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Wrapper*/

#wrapper {
    font-family: general;
    background-color: white;
    width: 860px;
    margin: auto;
}

/*Secciones*/

section {
    border-bottom: 1px solid black;
}

/*Barra de navegación*/

#navbar {
    height: 72px;
    width: 860px;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1;
    /* Transition effect when sliding down (and up) */
    transition: top 0.4s;
}

#navbar a {
    float: left;
    font-size: 2rem;
    height: 0;
    padding: 26px 24px 46px;
}

#navbar a:hover {
    color: white;
    background-color: black;
}

#navbar-block {
    height: 72px;
    width: 100%;
}

.subpage {
    color: var(--rojo);
}

#navbar a.subpage:hover {
    background-color: var(--rojo);
    color: white;
}

/*Hero section*/

#hero {
    height: 830px;
    width: 100%;
    position: relative;
    background-image: url("../images/exeter-cover-hd.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#exeter1 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#exeter2 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 9%;
    top: 22%;
    transform: translate(-50%, -50%);
}

#exeter3 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 32%;
    transform: translate(-50%, -50%);
}

#exeter4 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 73%;
    transform: translate(-50%, -50%);
}

#exeter5 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 80%;
    top: 79%;
    transform: translate(-50%, -50%);
}

#exeter6 {
    font-size: 6rem;
    text-align: center;
    padding: 8vh 15%;
    display: inline-block;
    position: absolute;
    left: 63%;
    top: 16%;
    transform: translate(-50%, -50%);
}


/*Resto de secciones*/

.section {
    padding: 20px 0;
}

.titulo {
    font-size: 2rem;
    padding: 10px 0 30px;
}

/*Sección Album*/

audio {
    width: 100%;
    padding-bottom: 20px;
    height: 40px;
}

audio::-webkit-media-controls-panel {
    background-color: white;
    height: 40px;
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
}

audio::-webkit-media-controls-play-button {
    background-color: white;
}

audio::-webkit-media-controls-volume-slider {
    background-color: white;
    padding-left: 20px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: var(--rojo);
}

#grid-audio {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}





/*--------------------------------------*/

/*Media Queries*/

@media only screen and (max-width: 1345px) {
    #exeter2 {
        padding-left: 10px;
        left: 16%;
    }

    #exeter3 {
        padding-right: 10px;
        left: 88%;
    }
}

@media only screen and (max-width: 1096px) {
    #exeter2 {
        left: 26%;
        top: 17%;
        padding-left: 95px;
    }

    #exeter3 {
        opacity: 0;
        padding: 0;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }

    #exeter4 {
        left: 24%;
        top: 73%;
        padding-left: 60px;
    }

    #exeter5 {
        left: 73%;
        top: 79%;
        padding-right: 108px;
    }

    #exeter6 {
        left: 77.5%;
        top: 26%;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 900px) {
    #exeter1 {
        opacity: 1;
    }

    #exeter2,
    #exeter3,
    #exeter4,
    #exeter5,
    #exeter6 {
        left: 50%;
        top: 50%;
        opacity: 0;
    }

    audio {
        width: 90%;
        margin: auto;
    }

    html {
        font-size: 15px;
    }

    #wrapper {
        width: 100%;
        height: 100vh;
    }

    #navbar {
        width: 100%;
    }

    #navbar a {
        font-size: 1.7rem;
        padding: 26px 15px;
    }

    #hero {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-size: contain;
    }
}